<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IOSRetail">
	<test name="Smoke">
		<classes>
			<class name="IOS.iosRetail.SubOrderTest" />
			<class name="IOS.iosRetail.VlanInfoTest" />
			<class name="IOS.iosRetail.QuickSearchTest" />
			<class name="IOS.iosRetail.StatusTest" />
			<class name="IOS.iosRetail.SummaryTest" />
			<class name="IOS.iosRetail.EscalationTest" />
			<class name="IOS.iosRetail.IOSInquiriesTest" />
			<class name="IOS.iosRetail.HITSInquiriesTest" />
		</classes>
	</test> <!-- Test -->
	<!-- <test name="Regression"> <classes> <class name="IOS.iosRetail.TechnicalInfoTest" 
		/> <class name="IOS.iosRetail.RemindersTest" /> <class name="IOS.iosRetail.RelatedOrderTest" 
		/> <class name="IOS.iosRetail.OSMInquiriesTest" /> </classes> </test> -->
</suite> <!-- Suite -->


